
    <div >
        <form (submit)="store()">
            <h1>This is For Bike::::::<br></h1>
            Bike Company:<br>
            <input type="text" name="bName" [(ngModel)]="objBike.company"><br> Bike model:<br>
            <input type="text" name="bmodel" [(ngModel)]="objBike.model"><br> Colour:
            <br>
            <input type="text" name="bcolor" [(ngModel)]="objBike.color"><br> Number :<br>
            <input type="text" name="bnumber" [(ngModel)]="objBike.number"><br><br>
       <input type="submit" value ="click me">
        </form>
        
    </div><br><br>
   