 
 <div ><p *ngIf =" obj.company != ''">
The Maker is:<br>
       {{obj.company}}
       </p><p  *ngIf =" obj.model != ''">
           its model is:<br>
           {{obj.model}}</p>
           <p *ngIf =" obj.color != ''">
               its Color is:<br>
               {{obj.color}}</p>
           <p *ngIf =" obj.number != ''">
               its number is:<br>
               {{obj.number}}
           </p>
           </div>
<!--
            <div ><p *ngIf =" obj.company != ''">
The Maker is:<br>
       {{obj.company}}
       </p><p  *ngIf =" obj.model != ''">
           its model is:<br>
           {{obj.model}}</p>
           <p *ngIf =" obj.color != ''">
               its Color is:<br>
               {{obj.color}}</p>
           <p *ngIf =" obj.number != ''">
               its number is:<br>
               {{obj.number}}
           </p>
           </div>-->