<div id = "car">
        <form (submit) ="store()"> 
            <h1>This is For Car::::<br></h1>

            Car Company:<br>
            <input type="text" name="carName" [(ngModel)]="objCar.company"><br> Car model:<br>
            <input type="text" name="carModel" [(ngModel)]="objCar.model"><br> Colour:
            <br>
            <input type="text" name="carColor" [(ngModel)]="objCar.color"><br> Number :<br>
            <input type="text" name="carNumber" [(ngModel)]="objCar.number"><br><br>
       <input type="submit" value ="click me">
        </form>

    </div><br><br>
  
   